<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="dice.css">
		<link href='http://fonts.googleapis.com/css?family=Actor' rel='stylesheet' type='text/css'>
		<title>Dice Game</title>
	</head>

	<body>
		<h1>Dice Game</h1>

		<img src="<%= @image1 %>">
		<img src="<%= @image2 %>">

		<p>Dice roll: <%= @dice %></p>

		<a href="/dice/rolldice?goal=<%= @goal %>"><button><b>Roll Dice</b>
		</button></a>

		<p><b> <%= @message %> </b></p>

	</body>

</html>
